.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

img.track {
    border: 1px solid #8a8a8a;
}
form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* width: fit-content; */
    margin: auto;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.navbar-main {
    background-color: #0d263f;
    border-bottom: 5px solid rgb(13, 93, 205);
    padding: 2px;
    
}
.navbar-part {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    /* margin-top:0; */
    flex-direction: row;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    color: yellow;
    font-style: oblique;
}
.navbar:hover {
    background-color: rgb(255, 255, 86);
    color: rgb(255, 0, 0);
    box-shadow: 2px 1px 1px 2px rgb(111, 109, 109);
}